:root {
  --bgcolor: #121212;
  --fontcolor: #fff;
  --fontabu: #797979;
}

* {
  background: var(--bgcolor);
  color: var(--fontcolor);
  font-family: "Inter", sans-serif;
}

/* CARD ATAS */

.news-game{
  padding: 0 13%;
}

.gambar-atas h5{
  font-weight: 400;
}

.col .card {
  background-color: var(--bgcolor);
}

.col .card-body .text-time, .text-time{
  font-size: 11px;
  font-weight: 600;
  color: var(--fontabu);
}

.col .card-body .card-title, .card-title{
  color: var(--fontcolor);
  font-weight: 700;
  font-size: 16px;
}

.col .card-body .card-text, .card-text{
  color: var(--fontabu);
  font-weight: 500;
  font-size: 16px;
}

.col .card-body .text-readmore, .text-readmore{
  color: var(--fontcolor);
  font-weight: 500;
  font-size: 16px;
}

/* CARD BAWAH */
.article-game{
  margin-top: 7%;
}
