:root {
    --bgcolor: #121212;
    --fontcolor: #fff;
    --fontabu: #797979;
  }
  
  * {
    
    color: var(--fontcolor);
    font-family: "Inter", sans-serif;
  }
  
  img:hover{
    opacity: 0.6;
    transition: 0.3s;
  
  }
  
  section{
    padding: 0 10%;
    background: var(--bgcolor);
  }

  .article-game .row{
    background: var(--bgcolor);
  }


/* TAMPILAN NEWS */

/* CARD ATAS */

.news-game {
  padding: 0 13%;
}

.gambar-atas h5 {
  font-weight: 400;
}

.col .card {
  background-color: var(--bgcolor);
}

.col .card-body .text-time,
.text-time {
  font-size: 11px;
  font-weight: 600;
  color: var(--fontabu);
}

.col .card-body .card-title,
.card-title {
  color: var(--fontcolor);
  font-weight: 700;
  font-size: 16px;
}

.col .card-body .card-text,
.card-text {
  color: var(--fontabu);
  font-weight: 500;
  font-size: 16px;
}

.col .card-body .text-readmore,
.text-readmore {
  color: var(--fontcolor);
  font-weight: 500;
  font-size: 16px;
  /* text-decoration: none; */
}

/* CARD BAWAH */
.article-game {
  margin-top: 4%;
}

.article-game .card .row {
  padding-top: 2%;
  border-top: 1px solid var(--fontabu);
}

/* PAGINATION */

.pagination-list {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.pagination-list .pagination li a,
li span {
  background-color: var(--bgcolor);
  color: var(--fontabu);
  border: none;
  font-weight: 500;
}

.pagination-list .pagination li a:hover,
li span:hover {
  color: var(--fontcolor);
}


